section>div[data-v-88009bb6]{transition:transform .2s ease,box-shadow .2s ease}section>div[data-v-88009bb6]:hover{transform:translateY(-2px)}section>div[data-v-88009bb6]:active{transform:translateY(0);box-shadow:none}
